<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'gallery' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li
                            {% if '/profile/page/' == request.path %}
                            class="nav-item active mr-4"
                            {% else %}
                            class = "nav-item mr-4"
                            {% endif %}>
                            <a class="nav-link" href="">
                                {{user.username}}'s Posts
                            </a>
                        </li>
                        <li class="nav-item mr-4">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                            </a> 
                        <form action="{% url 'logout' %}" method="POST", id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form> 
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li
                        {% if '/accounts/' == request.path %}
                        class="nav-item active mr-4"
                        {% else %}
                        class = "nav-item mr-4"
                        {% endif %}>
                        <a class="nav-link" href="{% url 'register' %}">
                            <i class="fas fa-user-plus"></i> Register</a>
                        </li>

                        <li
                        {% if '/accounts/' == request.path %}
                        class="nav-item active mr-4"
                        {% else %}
                        class = "nav-item mr-4"
                        {% endif %}>
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Login</a>
                        </li>
                    </ul>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

