<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    {% if '/' == request.path %}
                        <a class="nav-link active" aria-current="page" href="{% url 'gallery' %}">Home</a>
                    {% else %}
                        <a class="nav-link " aria-current="page" href="{% url 'gallery' %}">Home</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if '/about/' == request.path %}
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    {% else %}
                        <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
                    {% endif %}
                </li>
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            {% if '/accounts/profile/' == request.path %}
                                <a class="nav-link active" href="{% url 'user_profile' user.username %}">
                                    {{user.username}}'s Posts
                                </a>
                            {% else %}
                                <a class="nav-link" href="{% url 'user_profile' user.username %}">
                                    {{user.username}}'s Posts
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item mr-4">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                            </a> 
                            <form action="{% url 'logout' %}" method="POST", id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form> 
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            {% if '/accounts/register/' == request.path %}
                                <a class="nav-link active" href="{% url 'register' %}">
                                <i class="fas fa-user-plus"></i> Register</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'register' %}">
                                    <i class="fas fa-user-plus"></i> Register</a>
                                </a>
                            {% endif %}
                        </li>

                        <li class="nav-item active">
                            {% if '/accounts/login/' == request.path %}
                                <a class="nav-link active" href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i>
                                    Login
                                </a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i>
                                    Login
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </ul>

            <form class="d-flex form" action="{% url 'search_profiles' %}" method='POST'>
                {% csrf_token %}
                <input class="form-control me-2" type="search" 
                placeholder="Search" value="" name="searched" aria-label="Search">
                <button class="btn btn-outline-light" type="submit" value="">Search</button>
            </form> 

            <form class="d-flex form" action="{% url 'search_photos' %}" method='POST'>
                {% csrf_token %}
                <input class="form-control me-2" type="search" 
                placeholder="Search" value="" name="searched" aria-label="Search">
                <button class="btn btn-outline-light" type="submit" value="">Search</button>
            </form> 
        </div>
    </div>
</nav>

