<!--sidebar gallery -->
<div class="card text-center">
    <div class="card-header">
        <form class="d-flex form" action="{% url 'search_photos' %}" method='POST'>
            {% csrf_token %}
            <input class="form-control me-2" type="search" 
            placeholder="Search Photos" value="" name="searched" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit" value="">Search</button>
        </form> 
    </div>
    <ul class="list-group list-group-flush">
        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photos</a>
        <a class="btn btn-dark btn-block btn-sm m-1">Categories</a>
        <a class="btn btn-outline-dark btn-block btn-sm m-1" href="{% url 'gallery' %}">All</a>
        {% for category in categories %}
                <a class="btn btn-outline-dark btn-block btn-sm m-1" href="{% url 'gallery' %}?category={{category.name}}">
                    {{category.name}}
                </a>
        {% endfor %}
    </ul>
</div>