{% extends "base.html"%}
{% load static %}
{% block title %}
About
{% endblock title%}
{% block content %}
<!--about shop-->
<section id="about" class="py-4">
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        <img src="{% static 'img/about.jpg'%}" alt="">
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
        neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
        commodi id libero eveniet harum perferendis laborum molestias quia.</p>
    </div>
    </div>
</div>
</section>
<!--about shop-->


<!-- Team -->
<section id="team" class="py-5">
    <div class="container">
        <h2 class="text-center">commodi id libero eveniet</h2>
        <div class="row text-center">
        {% if user.is_staff %}
            {% for user in user.is_staff.all %} 
            <div class="col-md-4">
                <img src="{{ user.profile.profile_image.url }}" alt="" class="rounded-circle mb-3">
                <h4>{{user.first_name }} {{user.last_name }}</h4>
                <i class="fas fa-phone"></i>{{user.profile.phone}}
                <i class="fas fa-envelope-open"></i>{{user.email}}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class ="col-md-12">
                <p>No commodi id libero eveniet Available</p>
            </div>
        {% endif %}
        </div>
    </div>
</section>
<!-- Team -->

{% endblock content%}